{% extends "layout.html" %}
{% load static %}

{% block panel %}
    <div class="panel panel-default">
        <div class="add_box"><a class="btn btn-primary btn-xs" href="#">新增用户</a></div>
  <!-- Default panel contents -->
        <div class="panel-heading">用户列表</div>
        {% block table %}
        <table class="table table-bordered">
                 <thead>
                    {% for stu in stu_desc %}
                    <th>{{ stu }}</th>
                    {% endfor %}
                    <th>操作</th>
                 </thead>
                 <tbody>
                    {% for obj in data_list %}
                    <tr>
                       <td>{{ obj.id }}</td>
                       <td>{{ obj.name }}</td>
                       <td>{{ obj.password }}</td>
                       <td>{{ obj.age }}</td>
                       <td>{{ obj.account }}</td>
                       <td>{{ obj.create_time }}</td>
                       <td>{{ obj.depart_id }}</td>
                       <td>{{ obj.gender }}</td>
                        <td>
                            <a class="btn btn-success" href="#">编辑</a>
                            <a class="btn btn-danger" href="#">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                 </tbody>
            </table>
        {% endblock %}
    </div>
{% endblock %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/staf_info.css' %}">
{% endblock %}